* {
    box-sizing: border-box;
}

.box {
    height: 200px;
    width: 300px;
    background-color: coral;
    padding: 25px;
    border: 5px solid black;
    border-color: saddlebrown;
    border-style: double;
    margin: 10px 0;
}

.inner-box {
    height: 100px;
    width: 100px;
    background-color: blueviolet;
}
